mixin about 
  section.about
    .container
      .about__text
        h2.about__title О сервисе
        p.about__description Любое путешествие веселее с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих.
        p.about__condition А если найдете кого-то близкого по духу — скорее зовите в совместный трип!
