mixin rates
  section.rates
    .container
      h2.rates__title Добавьте свой профиль
        button.rates__button
          img(src="/img/rates.png" alt="rates")  
      ul.rates__list 
        li.rates__item 
          span.rates__item-name Базовое размещение 
          span.rates__item-price Бесплатно 
          span.rates__item-number 1 
        li.rates__item 
          span.rates__item-name Вывод на первых позициях 
          span.rates__item-price 99 руб./мес 
          span.rates__item-number 2 
        li.rates__item 
          span.rates__item-name Кастомный цвет карточки 
          span.rates__item-price 59 руб./мес 
          span.rates__item-number 3 
        .rates__show 
          a.rates__show-button Показать тарифы для бизнеса

