mixin mapText
  section.map-text
    .container 
      .map-text__address
        .map-text__address-text 
          .map-text__address-pin
          p.map-text__address-description ул. Большая Конюшенная, 19/8

        .map-text__address-button-wrapper 
          button.button-more.map-text__address-button Проложить маршрут