$c-bg-main: #ffffff;
$c-bg-primary: #000000;
$c-bg-secondary: #192144;
$c-bg-4: #edeff6;
$c-bg-5: #f97676;

$c-font-oarange-1: #ff8d30;
$c-font-oarange-2: #ffbd30;
$c-font-oarange-3: #ffa530;
$c-font-oarange-4: #ffd74b;

$c-font-2: #161c35;
$c-font-3: #444444;
$c-font-4: #cccccc;
$c-font-5: #1d2e5b;
$c-font-6: #e1e3e9;
$c-font-7: #132576;
