mixin countryFilter 
  section.country-filter 
    .container 
      .country-filter__wrapper
        h2.country-filter__header-title Фильтрация по странам:
        button.country-filter__header-button 
        ul.country-filter__list-continent  

        ul.country-filter__list-letter 

        ul.country-filter__list-name

        .country-filter__button 
          button.country-filter__button-rolup Свернуть