mixin map
  section.map
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A24ea9a96c108ca7cd8f32880683b912bed14c8db810a214783bb03face0a9537&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
