mixin route 
  section.route 
    .container 
      .route__wrapper 
        .route__text
          h2.route__title Направления
          p.route__description Мы не продаем туры и ничего не рекламируем. Люди сами пишут о странах, куда хотели бы отправиться и чем можно там заняться.
        ul.route__list 
          li.route__item 
            img.route__item-img(src="/img/thailand-mobile-1.png" alt="thailand")
            .route__item-text
              .route__flag
                img(src="/img/flag-thailand.png" alt="flag-thailand")
              h3.route__item-title Таиланд
                span.route__item-audience 18321
              p.route__item-description Джунгли зовут!

          li.route__item 
            img.route__item-img(src="/img/france-mobile-1.png" alt="france")
            .route__item-text
              .route__flag
                img(src="/img/flag-france.png" alt="flag-france")
              h3.route__item-title Франция
                span.route__item-audience 12518
              p.route__item-description Трэ бьен, манифик!

          li.route__item 
            img.route__item-img(src="/img/czech-mobile-1.png" alt="czech")
            .route__item-text
              .route__flag
                img(src="/img/flag-czech.png" alt="flag-czech")
              h3.route__item-title Чехия
                span.route__item-audience 5326
              p.route__item-description Закоулки старой Европы

          .route__more 
            button.button-more.route__more-button Показать все    
