.header {
  &__burger {
    cursor: pointer;
    width: 30px;
    height: 15px;
    position: absolute;
    background: transparent;
    border: none;
    top: 23px;
    right: 26px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $c-bg-main;
      width: 25px;
      height: 3px;
      top: 1px;
      right: 0;
      border-radius: 2px;
      transition: 0.5s;
    }

    &::after {
      top: 9px;
    }
  }

  &--open &__burger {
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $c-font-4;
      width: 25px;
      height: 3px;
      top: 10px;
      right: 0;
      border-radius: 2px;
      transition: 0.5s;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
