include /blocks/header/header
include /blocks/hero/hero
include /blocks/about/about
include /blocks/route/route
include /blocks/companion/companion
include /blocks/rates/rates

block variables

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    title #{title}
  body
    block content 

  script(src="js/main.min.js")